@import 'variables';

.container {
  //center content
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 65px;
  background: $card-bg-colour;
  color: $card-colour;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  min-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 700px) {
  //switch to 2 columns
  .card {
    max-width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 980px) {
  //switch to 3 columns
  .card:nth-child(even) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}

.card span {
  display: block;
}

.card .card-summary {
  padding: 10% 10% 3% 10%;
  color: rgba(106, 106, 106, 1);
  font-size: 0.8em;
  font-weight: 100;
}

.card .card-header {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0;
}

.card .card-title {
  background: $card-title-bg-colour;
  padding: 10% 0 10% 0;
  color: white;
  font-family: sans-serif;
  width: 100%;
}

.card .card-title h3 {
  font-size: 1.35em;
  font-weight: 500;
  line-height: 1.3;
  padding: 0 10%;
  margin: 0;
}

.card .card-meta {
  max-height: 0;
  overflow: hidden;
  font-size: .78em;
  position: absolute;
  bottom: 0;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;

  background-color: $card-meta-bg-colour;
  width: 90%;

  // rounded bottom left and bottom right
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.card:hover, .card:focus {
  background: $body-bg-colour;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 0 20px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0 0 20px 0;
}

.card:hover .card-meta, .card:focus .card-meta {
  max-height: 50px; // show card controls on hover / focus
}

.card-meta:after {
  // white triangle, source http://jsfiddle.net/9AbYc/2081/
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-top: solid 10px $body-bg-colour;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.card-control {
  height: 50px;
  width: 60px;
  position: relative;
  top: 15px;
  color: $card-control-colour;
  margin-left: 15px;

  &:hover {
    cursor: pointer;
  }
}

.trash-icon {
  margin-right: 5px;
}

.trash-text {
  // move trash text to center of trash icon
  position: relative;
  top: -3px;
  display: inline-block !important;
  font-weight: bold;
}

.card-character-count {
  margin-top: 15px;
  color: $card-control-colour;
}

@import "generic";